{% load static wagtailcore_tags wagtailuserbar wagtailimages_tags %}

<!DOCTYPE html>
<html class="no-js" lang="ru">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% wagtail_site as current_site %}
                {% if current_site and current_site.site_name and current_site.site_name != page.seo_title and current_site.site_name != page.title %}- {{ current_site.site_name }}{% endif %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/problem_management.css' %}">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}
        <header class="wth-back">
            <nav class="header-nav">{% comment %} header-nav--opened {% endcomment %}
<!--                <button type="button" class="header-nav__button"></button>-->
                <div class="header-nav__item h3 logo"><a title="Главная" href="{% slugurl 'index' %}">ИС оценки эффективности процесса управления проблемами в ИТ-сервисах</a></div>
                <div class="header-nav__item h3"><a title="Все оценки эффективности" href="{% slugurl 'report' %}">Все оценки эффективности процесса</a></div>
                <div class="header-nav__item h3"><a title="Оценка системы" href="{% slugurl 'metric' %}">Добавить оценку достояния системы</a></div>
<!--                {% for page in menu_pages %}-->
<!--                    <div class="header-nav__item h3"><a title="{{ page.title }}" class="button" href="{% slugurl page.slug %}">{{ page.title }}</a></div>-->
<!--                {% endfor %}-->
            </nav>
<!--            -->
<!--            если есть блок banner, то выводим его, если нет, то title -->
        </header>

        {% block h1wrapper %}<div class="h1-wrapper">{% block h1 %}<h1>{{ page.title }}</h1>{% endblock h1 %}</div>{% endblock h1wrapper %}

        <div class="contentblock">
        {% block content %}{% endblock %}
        </div>

        <footer class="wth-back horiz">
            {% if footer %}
            {% for block in footer.body %}
{% comment %}<!--            TODO написать рендеринг для блоков -->{% endcomment %}
                {% if block.block_type == 'wrapper' %}
                    <div style="">
                    {% for subblock in block.value %}
                        {% if subblock.block_type == 'link_blank' %}
                            <div><a href="{{ subblock.value.link }}" target="_blank">{{ subblock.value.link_name }}</a></div>
                        {% elif subblock.block_type == 'img' %}
                            <div style="display:flex; align-items: center; justify-content: center;">
                                {% image subblock.value fill-100x100 %}
                            </div>
<!--                            <div class="block-{{ subblock.block_type }}">{% include_block subblock %}</div>-->
                        {% else %}
                            <div class="block-{{ subblock.block_type }}">{% include_block subblock %}</div>
                        {% endif %}
                    {% endfor %}
                    </div>
                {% else %}
                    <div class="centered">{% include_block block %}</div>
                {% endif %}
            {% endfor %}
            {% endif %}
        </footer>
        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/problem_management.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
